*{
    margin: 0;  
}

html{
    background-color: white;
}

body{
    width: 1020px;
    height: 780px;
    margin: 0 auto;
    background-color: #193153;
}

a{
    text-decoration: none;
    color: white;
}

.header{
    background-color: #37afe3;
    height: 170px;
}

.logo {
    position: relative;
    left: 5%;
    top: 4%;
    height: 160px;
    width: 180px;
    display: block;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    background-image: url('avatar.jpg');
    background-size: cover;
  }

.name{
    position: absolute;
    left: 35%;
    top: 10%;
    color: white;
    font-family: Aller;
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
}

.contacts{
    position: absolute;
    left: 62%;
    top: 10%;
    color: white;
}

.container{
    color: white;
    font-family: 'Playfair Display', serif;
}

.container div{
    text-align: center;
    margin: 0;
    border-top: 10px solid white;
}

.container p{
    text-align: center;
    margin: 17px 0;
}